@using Lifestoned.DataModel.Gdle;
@using Lifestoned.DataModel.Shared
@model Weenie

@{
    ViewBag.Title = "Edit " + Model.Name;
}

<br />

@using (Html.BeginForm("Edit", "Weenie", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="btn-group-vertical stuck" role="group">
        <button id="btnSave" type="submit" class="btn btn-primary" title="Save"><i class="glyphicon glyphicon-floppy-save"></i></button>
        <a href="@Url.Action("Edit", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Cancel"><i class="glyphicon glyphicon-remove"></i></a>
        @if (User.IsInRole("Admin"))
        {
            <a href="@Url.Action("Delete", "Weenie", new { id = Model.WeenieClassId })" class="btn btn-primary" title="Delete"><i class="glyphicon glyphicon-trash"></i></a>
        }
        <a id="preview" target="_blank" href="http://ac.yotesfan.com/10-Clothing/preview.php?id={{cid}}&setup={{sid}}&pal={{pid}}" class="btn btn-primary" title="preview"><i class="glyphicon glyphicon-search"></i></a>
    </div>

    <div class="form-horizontal">
        <h2>
            Edit @Html.Raw(Model.Name) (@(Html.DisplayFor(m => m.WeenieClassId)))
            @if (Model.IconId != null)
            {
                <div class="icon">
                    <img src="@Url.Action("GetFullyLayeredPngIcon", "Resource", new { weenieClassId = Convert.ToUInt32(Model.WeenieClassId) }) " />
                </div>
            }
        </h2>
        <hr />
        <div class="container">

            @Html.HiddenFor(m => m.WeenieClassId)
            @Html.HiddenFor(m => m.MvcAction)
            @Html.HiddenFor(m => m.PropertyTab)
            @Html.DisplayFor(m => m, "InfoMessages")

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.IsDone)
                    </div>
                    <div class="col-md-8">
                        @Html.CheckBoxFor(m => m.IsDone)
                    </div>
                </div>
                <div class="row row-spacer">
                    Check this box when this weenie is completely done with editing for purposes of restoring Dereth to its January 2017 state.
                </div>
            </div>

            @Html.EditorFor(m => m)

            <div class="panel panel-default">
                <div class="panel-heading"><h3 class="panel-title">Changelog</h3></div>
                <div class="panel-body">
                    @Html.DisplayFor(m => m.Changelog, "Changelog")

                </div>
            </div>

            <div class="well">
                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.ModifiedBy)
                    </div>
                    <div class="col-md-4">
                        @Html.HiddenFor(m => m.ModifiedBy)
                        @Html.DisplayFor(m => m.ModifiedBy)
                    </div>
                </div>

                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.LabelFor(m => m.LastModified)
                    </div>
                    <div class="col-md-4">
                        @Html.HiddenFor(m => m.LastModified)
                        @Html.DisplayFor(m => m.LastModified)
                    </div>
                </div>

                <div class="row row-spacer">
                    <div class="col-md-2">
                        @Html.Label("Changelog Entry")
                    </div>
                    <div class="col-md-8">
                        @Html.TextAreaFor(m => m.UserChangeSummary, new { @class = "form-control" , rows = "8" })
                    </div>
                </div>
            </div>

        </div>

    </div>

}

@section scripts {
    @Html.Partial("EditorScript")
}
